.skills {
    margin: 40px auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1000px;
}

.skills h3 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
    letter-spacing: 2px;
}

.skill-set {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill-item {
    background-color: #ffffff;
    border: 1px solid #007bff;
    color: #007bff;
    padding: 5px 10px; /* Reduced padding */
    border-radius: 8px; /* Slightly reduced border radius */
    font-size: 0.8em; /* Reduced font size */
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; /* Reduced height */
    width: 100px; /* Reduced width */
    margin: 5px; /* Reduced margin */
    transition: all 0.4s ease;
}

.skill-icon {
    margin-right: 5px;
    font-size: 1.2em; /* Reduced icon size */
}

.skill-item:hover {
    background-color: #007bff;
    color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 123, 255, 0.3);
}

@media (max-width: 768px) {
    .skills {
        padding: 20px;
    }

    .skill-set {
        justify-content: center;
        flex-wrap: wrap;
    }

    .skill-item {
        font-size: 0.7em;
        padding: 5px 8px; /* Adjusted for smaller screens */
        height: 35px; /* Reduced height for smaller screens */
        width: 80px; /* Reduced width for smaller screens */
    }

    .skill-icon {
        font-size: 1em; /* Further reduced icon size for smaller screens */
    }
}